@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --app-height: calc(100vh - 60px);
  --main-sect-height: calc(var(--app-height) - 10rem);
  --grid-img-height: calc((var(--app-height) / 2));
}

body {
  color: rgb(255, 254, 250);
  background: hsl(210, 7%, 5%);
}

.handle {
  background-color: #d2ac53 !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}