@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --app-height: calc(100vh - 34px - 60px);
  --main-sect-height: calc(var(--app-height) - 10rem)
}

body {
  color: rgb(255, 254, 250);
  background: hsl(210, 7%, 5%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}